$corDeFundo:  rgb(77, 77, 77);
$corDeFundoCard: #585858;
$corTextoPrincipal: silver;
$corTextoSecundaria:#eb2b4f;
$corDaSombraBotao: rgba(248, 1, 1, 0.452);
$corDoBotao: rgba(41, 41, 41, 0.966);
$corDeFundoBotaoSecundario:rgb(0, 102, 255);
$corDeFundoDark:black;
